<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <%= image_tag('mazda_logo.png',:size => "80x80") %>
</nav>

<main role="main" class="container">

  <div class="starter-template">
  </br>
  </br>
    <p><%= @message %></p>
          <div class="well bs-component">
            <%= link_to '動画に行くよ', {controller: :suggestions, action: :movie}, class: :"btn btn-primary btn-lg" %>
            <%= link_to 'お見積りに行くよ',{controller: :suggestions, action: :estimate},  class: :"btn btn-default btn-lg" %>
          </div>
  </div>
	</main>
